{% extends 'base_lib.html' %}
{% load static %}

{% block content %} 


<section>
    <!-- <article id="hero">
      <h1 class="heading_shadow">MyBook</h1>
      <p>
        Doctor Info here !!
      </p>
      <a href="https://personal-macarious.onrender.com/" class="cta" target="_blank">Doctor Info</a>

    </article> -->
</section>

<section>

  {% if user.is_superuser %}
  <article>
    <h2>Create Books</h2>
    <img src="{% static 'img/create_Book.png' %}" style="border-radius: 15px; max-width: 50%; height: 50%;">
   
    <p>
      <a href="{% url 'create_Book' %}" class="cta" style="color: black;">New Book</a>
    </p>
  </article>
  {% endif %}
  <article>
    <h2>Book Management</h2>
    <img src="{% static 'img/manage.png' %}" style="border-radius: 15px; max-width: 50%; height: 50%;">

    
    <p>
      <a href="{% url 'view_all_fun' %}"  class="cta" style="color: black;">Books manage</a>
    </p>
  </article>
  <!-- <article>
    <h2>Statistics & Finance</h2>
    <img style="color: black; border-radius: 10px; " src="{% static 'img/stats.jpg' %}">
    
    <p>
      <a href="#"  class="cta" style="color: black; border-radius: 10px;" >Statistics & Finance</a>
    </p>
  </article> -->
</section>

{% endblock %}
